<div class="card">
  <div class="card-header">
    <h5 class="card-title mb-0"> {{invoice?.name | titlecase}}</h5>
  </div>
  <div class="card-body">
    <p class="card-text"> Price: {{invoice?.price }} </p>
    <p class="card-text"> Quantity: {{invoice?.quantity }} </p>
    <p class="card-text"> Payment Status: {{invoice?.paymentStatus | titlecase }} </p>
    <p class="card-text"> Payment Type: {{invoice?.paymentType | titlecase }} </p>
    <p class="card-text"> Item: {{invoice?.item?.name | titlecase}} </p>
  </div>
  <div class="card-footer" *ngIf="user?.role == userRoles?.Admin">
    <div class="d-flex align-items-center justify-content-between">
      <button class="btn btn-primary w-50 me-1" (click)="editInvoice(invoice?.id)"> Edit</button>
      <button class="btn btn-danger w-50" (click)="deleteInvoice(invoice?.id)"> Delete</button>
    </div>
  </div>
</div>